.progress_container {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  margin-top: 3vw;
}
.progress_background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress_weapons {
  margin-top: 5vw;
}
.progress_weapons img {
  position: absolute;
  cursor: pointer;
  max-width: 700px;
}

/* ninja suit */
#weapon1 {
  width: 15%;
  left: 85%;
  top: 20%;
}

/* training dummy */
#weapon2 {
  width: 25%;
  left: 5%;
  top: 45%;
}

/* katana (left top sword)*/
#weapon3 {
  width: 17%;
  left: 22%;
  top: 0.5%;
}

/* sai (double sword)*/
#weapon4 {
  width: 12%;
  left: 30%;
  top: 40%;
}

/* bo staff */
#weapon5 {
  width: 15%;
  left: 41.5%;
  top: 20%;
}

/* nunchucks */
#weapon6 {
  width: 15%;
  left: 47%;
  top: 25%;
}

/* kusarigama (sickle with chain/ball) */
#weapon7 {
  width: 12%;
  left: 57%;
  top: 38%;
}

/* bokken (top right weapon) */
#weapon8 {
  width: 17%;
  left: 60%;
  top: 5.5%;
}

/* gong */
#weapon9 {
  width: 20%;
  left: 68%;
  top: 55%;
}

/* ninja star */
#weapon10 {
  width: 10%;
  left: 30%;
  top: 25%;
}

.master_panda {
  width: 25%;
  left: 36%;
  top: 55%;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 90%;
  max-height: 80%;
  overflow: auto;
}

.modal_content h2 {
  font-weight: bold;
}
