.gap-2 button {
  font-size: 1vw;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  padding: 3px;
}

.daily_challenge_container{
  padding-top:5vw;
  background-image: url("../assets/playgroundBackground.png");
  background-size: cover;
  background-position: center 60%;
}
