.playground_container {
  display: flex;
  height: 100vh;
  width: 100%;
  padding-top:5vw;
  background-image: url("../assets/playgroundBackground.png");
  background-size: cover;
  background-position: center 60%;
}
.playground_left_container {
  display: flex;
  padding: 10px;
  width: 50%;
  height: 84vh;
  flex-direction: column;
}

.playground_left_container option,
.playground_left_container select {
  border: 1px solid black;
}

#coding_language {
  height: 1.5vw;
  width: 10vw;
}

#playground_code_container {
  height: 73vh;
  width: 100%;
  border: 1px solid black;
}

.playground_right_container {
  display: flex;
  padding: 10px;
  width: 50%;
  height: 90vh;
}
.playground_correction {
  border: 1px black solid;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

#playground_prompt_input {
  width: 99.5%;
  height: 20vh;
  resize: none;
  border: 1px solid black;
  
}

.playground_prompt button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  padding: 5px;
}

