/* placed here so that custom css overrides */
/* @tailwind base; */
/* @tailwind components;  */
@tailwind utilities;
@import "tailwindcss";

/* Offset navbar */
#root {
  margin-top: 5vw;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
}
